@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
/* line 111, ../sass/screen.scss */
body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #777;
  background: #000;
}

/* line 120, ../sass/screen.scss */
#page {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 127, ../sass/screen.scss */
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
/* line 131, ../sass/screen.scss */
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

/* line 144, ../sass/screen.scss */
a {
  color: #52D681;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 147, ../sass/screen.scss */
a:hover, a:active, a:focus {
  color: #52D681;
  outline: none;
  text-decoration: none;
}

/* line 153, ../sass/screen.scss */
p {
  margin-bottom: 20px;
}

/* line 157, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, figure {
  color: #79c34f;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

/* line 163, ../sass/screen.scss */
::-webkit-selection {
  color: #fff;
  background: #52D681;
}

/* line 168, ../sass/screen.scss */
::-moz-selection {
  color: #fff;
  background: #52D681;
}

/* line 172, ../sass/screen.scss */
::selection {
  color: #fff;
  background: #52D681;
}

/* line 177, ../sass/screen.scss */
.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 185, ../sass/screen.scss */
.gtco-container-fluid {
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 193, ../sass/screen.scss */
.gtco-nav {
  position: relative;
  top: 0;
  margin-bottom: 1.1em;
  padding: 0;
  width: 100%;
  padding: 10px 0;
  /* Supposedly 30 */
  z-index: 1001;
  font-family: "Roboto", sans-serif;
  border-bottom: 5px solid #79c34f;
}
@media screen and (max-width: 768px) {
  /* line 193, ../sass/screen.scss */
  .gtco-nav {
    padding: 10px 0;
    border-bottom: 1px solid #666666;
  }
}
/* line 207, ../sass/screen.scss */
.gtco-nav #gtco-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 213, ../sass/screen.scss */
.gtco-nav #gtco-logo a {
  color: #000;
}
/* line 215, ../sass/screen.scss */
.gtco-nav #gtco-logo a img {
  width: 100%;
  height: auto;
}
/* line 220, ../sass/screen.scss */
.gtco-nav #gtco-logo em {
  color: #fff;
}
@media screen and (max-width: 768px) {
  /* line 225, ../sass/screen.scss */
  .gtco-nav .menu-1, .gtco-nav .menu-2 {
    display: none;
  }
}
/* line 230, ../sass/screen.scss */
.gtco-nav ul {
  padding-top: 50px;
  margin: .4em 0 0 0;
  float: right;
}
/* line 234, ../sass/screen.scss */
.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}
/* line 241, ../sass/screen.scss */
.gtco-nav ul li > a {
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: 300;
  letter-spacing: .05em;
}
/* line 247, ../sass/screen.scss */
.gtco-nav ul li a {
  font-size: 20px;
  padding: 30px 10px;
  color: #cccccc;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 252, ../sass/screen.scss */
.gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
  color: #79c34f;
  background-color: #000 !important;
}
/* line 257, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown {
  position: relative;
}
/* line 259, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown > a {
  position: relative;
  padding-right: 20px !important;
}
/* line 262, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown > a:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-style: 10px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 0;
  color: #ccc;
}
/* line 273, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
/* line 289, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
/* line 304, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
/* line 307, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
/* line 310, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
/* line 317, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #79c34f;
}
/* line 322, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
/* line 329, ../sass/screen.scss */
.gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
  color: #79c34f;
}
/* line 339, ../sass/screen.scss */
.gtco-nav ul li.btn-cta a {
  color: #52D681;
}
/* line 341, ../sass/screen.scss */
.gtco-nav ul li.btn-cta a span {
  background: #fff;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
/* line 349, ../sass/screen.scss */
.gtco-nav ul li.btn-cta a:hover span {
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
}
/* line 358, ../sass/screen.scss */
.gtco-nav ul li.active > a {
  color: #79c34f !important;
}

@media screen and (max-width: 480px) {
  /* line 366, ../sass/screen.scss */
  #gtco-header .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 372, ../sass/screen.scss */
  #gtco-header .btn {
    display: block;
    width: 100%;
  }
}

/* line 378, ../sass/screen.scss */
#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 386, ../sass/screen.scss */
.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

/* line 393, ../sass/screen.scss */
.gtco-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
/* line 403, ../sass/screen.scss */
.gtco-cover.gtco-inner h1 {
  margin-bottom: 0 !important;
}
/* line 407, ../sass/screen.scss */
.gtco-cover a {
  color: #52D681;
}
/* line 409, ../sass/screen.scss */
.gtco-cover a:hover {
  color: white;
}
/* line 413, ../sass/screen.scss */
.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(29, 43, 83, 0.89);
}
/* line 422, ../sass/screen.scss */
.gtco-cover > .gtco-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  /* line 393, ../sass/screen.scss */
  .gtco-cover {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}
/* line 431, ../sass/screen.scss */
.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 431, ../sass/screen.scss */
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
    height: inherit !important;
    padding: 3em 0;
  }
}
/* line 443, ../sass/screen.scss */
.gtco-cover.gtco-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  /* line 443, ../sass/screen.scss */
  .gtco-cover.gtco-cover-sm {
    height: 400px;
    height: inherit !important;
  }
}
/* line 449, ../sass/screen.scss */
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 449, ../sass/screen.scss */
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
    height: inherit !important;
    padding: 3em 0;
  }
}
/* line 461, ../sass/screen.scss */
.gtco-cover.gtco-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 461, ../sass/screen.scss */
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
/* line 467, ../sass/screen.scss */
.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 467, ../sass/screen.scss */
  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}

/* line 479, ../sass/screen.scss */
.gtco-client {
  float: left;
  width: 100%;
  padding: 3em 0;
  background: #f6f6f6;
}
/* line 485, ../sass/screen.scss */
.gtco-client .client img {
  margin-top: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 492, ../sass/screen.scss */
.gtco-testimonials {
  /* 	.gtco-testimony {
  		float: left;
  		width: 100%;
  		margin-bottom: 30px;
  	} */
}
/* line 494, ../sass/screen.scss */
.gtco-testimonials a h2 {
  color: #fff;
}
/* line 499, ../sass/screen.scss */
.gtco-testimonials a:hover h2 {
  color: #79c34f;
}
/* line 508, ../sass/screen.scss */
.gtco-testimonials .row {
  padding-bottom: 5em;
}
/* line 510, ../sass/screen.scss */
.gtco-testimonials .row .gtco-testimony {
  display: table-cell;
  float: left;
  width: 100%;
}
/* line 514, ../sass/screen.scss */
.gtco-testimonials .row .gtco-testimony img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  max-width: 100% !important;
}
/* line 521, ../sass/screen.scss */
.gtco-testimonials blockquote {
  padding-left: 20px;
  display: table-cell;
  border-left: none;
  margin: 0;
  padding: 10px 0 0 30px;
}
/* line 527, ../sass/screen.scss */
.gtco-testimonials blockquote p {
  color: #fff !important;
  font-style: 16px;
  font-style: italic;
}
/* line 532, ../sass/screen.scss */
.gtco-testimonials blockquote .author {
  color: #666666;
  display: block;
  margin: 20px 0;
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

/* line 542, ../sass/screen.scss */
#gtco-footer {
  background: #262626;
  padding: 7em 0 0 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  float: left;
}
/* line 549, ../sass/screen.scss */
#gtco-footer a:hover {
  color: #fff !important;
}
/* line 554, ../sass/screen.scss */
#gtco-footer .gtco-cta {
  margin-bottom: 30px;
}
/* line 556, ../sass/screen.scss */
#gtco-footer .gtco-cta h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
/* line 561, ../sass/screen.scss */
#gtco-footer .gtco-cta .btn-white {
  padding: 15px 20px !important;
}
/* line 564, ../sass/screen.scss */
#gtco-footer .gtco-cta .btn-white.btn-outline:hover {
  color: #000 !important;
}
/* line 572, ../sass/screen.scss */
#gtco-footer .gtco-footer-paragraph img {
  height: 150px;
  margin-bottom: 10px;
}
/* line 578, ../sass/screen.scss */
#gtco-footer .gtco-footer-link {
  padding-left: 30px;
}
/* line 579, ../sass/screen.scss */
#gtco-footer .gtco-footer-link h3 {
  color: #fff;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  /* line 578, ../sass/screen.scss */
  #gtco-footer .gtco-footer-link {
    padding-left: 15px;
  }
}
/* line 587, ../sass/screen.scss */
#gtco-footer .gtco-footer-link .gtco-list-link {
  padding: 0;
  margin: 0;
}
/* line 590, ../sass/screen.scss */
#gtco-footer .gtco-footer-link .gtco-list-link li {
  padding: .5em 0;
  margin: 0;
  list-style: none;
}
/* line 594, ../sass/screen.scss */
#gtco-footer .gtco-footer-link .gtco-list-link li a {
  text-transform: uppercase;
  font-size: 13px !important;
  font-family: "Roboto", sans-serif;
}
/* line 602, ../sass/screen.scss */
#gtco-footer .gtco-footer-subscribe {
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  /* line 602, ../sass/screen.scss */
  #gtco-footer .gtco-footer-subscribe {
    padding-left: 15px;
  }
}
/* line 607, ../sass/screen.scss */
#gtco-footer .gtco-footer-subscribe .form-control {
  background: #fff !important;
  border: none !important;
}
/* line 611, ../sass/screen.scss */
#gtco-footer .gtco-footer-subscribe .btn {
  margin-top: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  height: 54px !important;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* line 622, ../sass/screen.scss */
#gtco-footer .gtco-copyright {
  background: #1a1a1a;
  padding: 30px 0;
  float: left;
  width: 100%;
}
/* line 627, ../sass/screen.scss */
#gtco-footer .gtco-copyright p {
  font-family: "Roboto", sans-serif;
}
/* line 629, ../sass/screen.scss */
#gtco-footer .gtco-copyright p:last-child {
  margin-bottom: 0;
}

/* line 635, ../sass/screen.scss */
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 640, ../sass/screen.scss */
.gtco-staff, .gtco-item {
  margin-bottom: 4em;
  float: left;
  width: 100%;
  display: block;
}
@media screen and (max-width: 768px) {
  /* line 640, ../sass/screen.scss */
  .gtco-staff, .gtco-item {
    margin-bottom: 3em;
  }
}
/* line 648, ../sass/screen.scss */
.gtco-staff img, .gtco-item img {
  margin-bottom: 40px !important;
}
/* line 651, ../sass/screen.scss */
.gtco-staff h2, .gtco-item h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
/* line 654, ../sass/screen.scss */
.gtco-staff h2 a, .gtco-item h2 a {
  color: #000 !important;
}
/* line 658, ../sass/screen.scss */
.gtco-staff p, .gtco-item p {
  margin-bottom: 30px;
  color: #777;
}
/* line 662, ../sass/screen.scss */
.gtco-staff .role, .gtco-item .role {
  color: #bfbfbf;
  margin-bottom: 20px;
  font-weight: normal;
  display: block;
}
/* line 668, ../sass/screen.scss */
.gtco-staff .fh5co-social, .gtco-item .fh5co-social {
  padding: 0;
  margin: 0;
}
/* line 671, ../sass/screen.scss */
.gtco-staff .fh5co-social li, .gtco-item .fh5co-social li {
  padding: 0;
  margin: 0 10px 0 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 676, ../sass/screen.scss */
.gtco-staff .fh5co-social li a, .gtco-item .fh5co-social li a {
  font-size: 20px;
  color: #52d681;
}
/* line 679, ../sass/screen.scss */
.gtco-staff .fh5co-social li a:hover, .gtco-item .fh5co-social li a:hover {
  color: #000;
}

/* line 687, ../sass/screen.scss */
.aboutpage {
  padding: 6em 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
/* line 692, ../sass/screen.scss */
.aboutpage .row .col-md-6 {
  vertical-align: middle;
  color: #fff;
}
/* line 695, ../sass/screen.scss */
.aboutpage .row .col-md-6 img {
  width: 80%;
  height: auto;
}
/* line 701, ../sass/screen.scss */
.aboutpage .row .about-context h2 {
  padding-top: 2em;
}

/* line 708, ../sass/screen.scss */
.contactpage {
  padding: 7em 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
/* line 713, ../sass/screen.scss */
.contactpage .row .col-md-6 {
  vertical-align: middle;
  color: #fff;
}
/* line 716, ../sass/screen.scss */
.contactpage .row .col-md-6 img {
  width: 80%;
  height: auto;
}
/* line 722, ../sass/screen.scss */
.contactpage .row .contact-context h2 {
  padding-top: 2em;
}

/* line 729, ../sass/screen.scss */
.post-thumb img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

/* line 735, ../sass/screen.scss */
.dropdown-menu {
  background-color: #000 !important;
}

/* line 738, ../sass/screen.scss */
.dropdown-menu > .active > a {
  background-color: black !important;
}

/* line 744, ../sass/screen.scss */
.gtco-news a h2 {
  text-align: right;
  color: #fff;
}
/* line 750, ../sass/screen.scss */
.gtco-news a:hover h2 {
  color: #79c34f;
}
/* line 754, ../sass/screen.scss */
.gtco-news hr {
  color: #79c34f;
  background-color: #79c34f;
}
/* line 758, ../sass/screen.scss */
.gtco-news .row {
  padding: .5em 0;
}
/* line 760, ../sass/screen.scss */
.gtco-news .row .col-md-6 {
  padding: .5em .5em;
}
/* line 762, ../sass/screen.scss */
.gtco-news .row .col-md-6 img {
  border: 1px solid #79c34f;
  max-width: 100% !important;
}

/* .gtco-news {
	h2{
		text-align: right;
		color:$brand-white;
	}
	img {
		max-width: 100%!important;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			margin: 0 0 20px 0;
			list-style: none;
			display: block;
			border-bottom: 1px solid lighten($brand-black, 95%);
			a {
				display: block;
				padding: 0 0 20px 0;
				

				h3 {
					margin-bottom: 15px;
					font-weight: 100;
					@include transition(.3s);
					color: $brand-primary;
				}	
				.post-date {
					text-transform: uppercase;
					letter-spacing: .05em;
					color: lighten($brand-black, 70%);
					font-family: $font-primary;
					margin-bottom: 10px;
					display: block;
					font-size: 12px;
					font-weight: 100;
				}
				p {
					color: lighten($brand-black, 50%);
					&:last-child {
						margin-bottom: 0;
					}
				}
				&:hover {
					h3 {
						color: $brand-white;
					}
				}
			}
		}
	}
} */
/* line 826, ../sass/screen.scss */
.gtco-social-icons {
  margin: 0;
  padding: 0;
}
/* line 829, ../sass/screen.scss */
.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 834, ../sass/screen.scss */
.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #52D681;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 839, ../sass/screen.scss */
.gtco-social-icons li a i {
  font-size: 20px;
}

/* line 846, ../sass/screen.scss */
.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
/* line 851, ../sass/screen.scss */
.gtco-contact-info ul {
  padding: 0;
  margin: 0;
}
/* line 854, ../sass/screen.scss */
.gtco-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
/* line 859, ../sass/screen.scss */
.gtco-contact-info ul li:before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 867, ../sass/screen.scss */
.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
/* line 873, ../sass/screen.scss */
.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
/* line 879, ../sass/screen.scss */
.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
/* line 885, ../sass/screen.scss */
.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

/* line 897, ../sass/screen.scss */
#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 897, ../sass/screen.scss */
  #map {
    height: 200px;
  }
}

/* line 907, ../sass/screen.scss */
form label {
  font-weight: normal !important;
}

/* line 912, ../sass/screen.scss */
#gtco-header {
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 916, ../sass/screen.scss */
#gtco-header p {
  color: #d3f1ed;
  font-size: 20px;
  margin-bottom: 40px !important;
}
/* line 921, ../sass/screen.scss */
#gtco-header h1 {
  font-size: 50px;
  line-height: 1.2 !important;
  margin-bottom: 30px !important;
  color: #d3f1ed;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  /* line 921, ../sass/screen.scss */
  #gtco-header h1 {
    line-height: 1.2 !important;
  }
}
/* line 930, ../sass/screen.scss */
#gtco-header h1.no-margin {
  margin-bottom: 0 !important;
}
/* line 936, ../sass/screen.scss */
#gtco-header .copy {
  margin-top: 0em;
}
/* line 939, ../sass/screen.scss */
#gtco-header .btn {
  color: #34a7bd !important;
  text-shadow: none !important;
}
/* line 943, ../sass/screen.scss */
#gtco-header .header-img {
  margin-bottom: 30px;
}

/* line 951, ../sass/screen.scss */
#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
/* line 954, ../sass/screen.scss */
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
/* line 959, ../sass/screen.scss */
#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  /* line 959, ../sass/screen.scss */
  #gtco-header .display-tc h1,
  #gtco-counter .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
/* line 969, ../sass/screen.scss */
#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* line 977, ../sass/screen.scss */
#gtco-counter {
  text-align: center;
}
/* line 979, ../sass/screen.scss */
#gtco-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #52D681;
  font-weight: 100;
  display: block;
}
/* line 986, ../sass/screen.scss */
#gtco-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  /* line 993, ../sass/screen.scss */
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}
/* line 999, ../sass/screen.scss */
#gtco-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}
/* line 1006, ../sass/screen.scss */
#gtco-counter .icon i {
  height: 70px;
}
/* line 1008, ../sass/screen.scss */
#gtco-counter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

/* line 1017, ../sass/screen.scss */
.gtco-section {
  padding: 1em 0;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 1017, ../sass/screen.scss */
  .gtco-section {
    padding: 1em 0;
  }
}
/* line 1024, ../sass/screen.scss */
.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}
/* line 1027, ../sass/screen.scss */
.gtco-section.gtco-gray {
  background: #f6f6f6;
}

/* line 1034, ../sass/screen.scss */
.gtco-heading {
  margin-bottom: 5em;
}
/* line 1036, ../sass/screen.scss */
.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}
/* line 1039, ../sass/screen.scss */
.gtco-heading h2 {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #79c34f;
  font-weight: 300;
}
/* line 1046, ../sass/screen.scss */
.gtco-heading p {
  font-size: 15px;
  line-height: 1.7;
  color: #898989;
}

/* line 1053, ../sass/screen.scss */
blockquote {
  padding-left: 0;
  border-left: none;
}
/* line 1056, ../sass/screen.scss */
blockquote p {
  font-style: italic;
  color: #000;
}
/* line 1060, ../sass/screen.scss */
blockquote p > cite {
  font-size: 14px;
  color: #b3b3b3;
}

/* line 1068, ../sass/screen.scss */
#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  /* line 1068, ../sass/screen.scss */
  #gtco-offcanvas {
    display: block;
  }
}
/* line 1085, ../sass/screen.scss */
.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 1088, ../sass/screen.scss */
#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
}
/* line 1091, ../sass/screen.scss */
#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* line 1095, ../sass/screen.scss */
#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}
/* line 1098, ../sass/screen.scss */
#gtco-offcanvas ul li {
  padding: 0;
  margin: 0;
  display: block;
  list-style: none;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
/* line 1106, ../sass/screen.scss */
#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
/* line 1110, ../sass/screen.scss */
#gtco-offcanvas ul li > a {
  display: block;
}
/* line 1114, ../sass/screen.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
/* line 1117, ../sass/screen.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1129, ../sass/screen.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 1143, ../sass/screen.scss */
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1150, ../sass/screen.scss */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1158, ../sass/screen.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
}
/* line 1162, ../sass/screen.scss */
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
/* line 1170, ../sass/screen.scss */
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
/* line 1176, ../sass/screen.scss */
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/* line 1186, ../sass/screen.scss */
.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
/* line 1192, ../sass/screen.scss */
.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
  background: #444;
}
/* line 1196, ../sass/screen.scss */
.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
/* line 1200, ../sass/screen.scss */
.gtco-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
/* line 1211, ../sass/screen.scss */
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
/* line 1222, ../sass/screen.scss */
.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #fff;
}
/* line 1225, ../sass/screen.scss */
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
  background: #fff;
}

/* line 1232, ../sass/screen.scss */
.gtco-nav-toggle i::before {
  top: -7px;
}

/* line 1235, ../sass/screen.scss */
.gtco-nav-toggle i::after {
  bottom: -7px;
}

/* line 1238, ../sass/screen.scss */
.gtco-nav-toggle:hover i::before {
  top: -10px;
}

/* line 1241, ../sass/screen.scss */
.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

/* line 1244, ../sass/screen.scss */
.gtco-nav-toggle.active i {
  background: transparent;
}

/* line 1247, ../sass/screen.scss */
.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 1255, ../sass/screen.scss */
.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 1263, ../sass/screen.scss */
.gtco-nav-toggle {
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  /* line 1263, ../sass/screen.scss */
  .gtco-nav-toggle {
    display: block;
  }
}

/* line 1285, ../sass/screen.scss */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px 30px;
  text-transform: uppercase;
  text-shadow: none !important;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
/* line 1301, ../sass/screen.scss */
.btn.btn-sm {
  padding: 10px 20px !important;
}
/* line 1305, ../sass/screen.scss */
.btn:hover, .btn:active, .btn:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

/* line 1313, ../sass/screen.scss */
.btn-primary {
  background: #52D681;
  color: #fff;
  border: 2px solid #52D681 !important;
}
/* line 1317, ../sass/screen.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #67db90 !important;
  border-color: #67db90 !important;
}
/* line 1321, ../sass/screen.scss */
.btn-primary.btn-outline {
  background: transparent;
  color: #52D681;
  border: 2px solid #52D681;
}
/* line 1325, ../sass/screen.scss */
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #52D681;
  color: #fff;
}

/* line 1331, ../sass/screen.scss */
.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
/* line 1335, ../sass/screen.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
/* line 1339, ../sass/screen.scss */
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
/* line 1343, ../sass/screen.scss */
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

/* line 1349, ../sass/screen.scss */
.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
/* line 1353, ../sass/screen.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
/* line 1357, ../sass/screen.scss */
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
/* line 1361, ../sass/screen.scss */
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

/* line 1367, ../sass/screen.scss */
.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
/* line 1371, ../sass/screen.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
/* line 1375, ../sass/screen.scss */
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
/* line 1379, ../sass/screen.scss */
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

/* line 1385, ../sass/screen.scss */
.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
/* line 1389, ../sass/screen.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
/* line 1393, ../sass/screen.scss */
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
/* line 1397, ../sass/screen.scss */
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

/* line 1403, ../sass/screen.scss */
.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
/* line 1407, ../sass/screen.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #fff;
  border-color: #fff;
}
/* line 1412, ../sass/screen.scss */
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
/* line 1415, ../sass/screen.scss */
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000 !important;
  border: 2px solid #fff;
}

/* line 1423, ../sass/screen.scss */
.btn-special {
  background: #52D681;
  color: #2f9051;
  border: 2px solid #52D681;
}
/* line 1427, ../sass/screen.scss */
.btn-special:hover, .btn-special:focus, .btn-special:active {
  color: #fff;
  background: #52D681;
  border-color: #52D681;
}
/* line 1432, ../sass/screen.scss */
.btn-special.btn-outline {
  color: #fff;
  border: 2px solid #52D681;
}
/* line 1435, ../sass/screen.scss */
.btn-special.btn-outline:hover, .btn-special.btn-outline:focus, .btn-special.btn-outline:active {
  background: #fff;
  color: #2f9051;
  border: 2px solid #52D681;
}

/* line 1443, ../sass/screen.scss */
.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 1448, ../sass/screen.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

/* line 1453, ../sass/screen.scss */
.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 1456, ../sass/screen.scss */
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 1465, ../sass/screen.scss */
.btn.with-arrow:hover {
  padding-right: 50px;
}
/* line 1467, ../sass/screen.scss */
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

/* line 1476, ../sass/screen.scss */
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
/* line 1483, ../sass/screen.scss */
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #52D681;
}

/* line 1490, ../sass/screen.scss */
.row-pb-md {
  padding-bottom: 4em !important;
}

/* line 1493, ../sass/screen.scss */
.row-pb-sm {
  padding-bottom: 2em !important;
}

/* line 1496, ../sass/screen.scss */
.mt-md {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  /* line 1496, ../sass/screen.scss */
  .mt-md {
    margin-top: 10px;
  }
}

/* line 1503, ../sass/screen.scss */
.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

/* line 1514, ../sass/screen.scss */
.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  /* line 1523, ../sass/screen.scss */
  .gtco-nav .gtco-contact {
    text-align: left !important;
  }
}
/* line 1527, ../sass/screen.scss */
.gtco-nav .gtco-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}
/* line 1530, ../sass/screen.scss */
.gtco-nav .gtco-contact ul li {
  padding: 0;
  margin: 0;
}
/* line 1533, ../sass/screen.scss */
.gtco-nav .gtco-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}
/* line 1537, ../sass/screen.scss */
.gtco-nav .gtco-contact ul li a i {
  color: #52D681;
}
/* line 1541, ../sass/screen.scss */
.gtco-nav .gtco-contact ul li a:hover i {
  color: #fff;
}

/* line 1552, ../sass/screen.scss */
.gtco-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

/* line 1559, ../sass/screen.scss */
#gtco-portfolio {
  padding: 7em 0;
  background: #303841;
  min-height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 1559, ../sass/screen.scss */
  #gtco-portfolio {
    padding: 3em 0;
  }
}
/* line 1567, ../sass/screen.scss */
#gtco-portfolio .gtco-heading h2 {
  color: #fff;
}
/* line 1570, ../sass/screen.scss */
#gtco-portfolio .gtco-heading p {
  color: rgba(255, 255, 255, 0.7);
}

/* Owl Override Style */
/* line 1579, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next,
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
  top: 25%;
  z-index: 1001;
  position: absolute;
}

/* line 1585, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next,
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev {
  top: 44%;
  z-index: 1001;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 1593, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next {
  right: -170px;
}
@media screen and (max-width: 992px) {
  /* line 1593, ../sass/screen.scss */
  .owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-next {
    right: -50px;
  }
}

/* line 1599, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
  left: -170px;
}
@media screen and (max-width: 992px) {
  /* line 1599, ../sass/screen.scss */
  .owl-carousel-carousel.owl-theme .owl-controls .owl-nav .owl-prev {
    left: -50px;
  }
}

/* line 1607, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next {
  right: 0px;
}

/* line 1610, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev {
  left: 0px;
}

/* line 1616, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev i {
  color: #000;
}
/* line 1620, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

@media screen and (max-width: 768px) {
  /* line 1628, ../sass/screen.scss */
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

/* line 1634, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
/* line 1636, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  color: #fff;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  z-index: 1002;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1645, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-carousel-fullwidth.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  color: #fff;
}

/* line 1651, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
/* line 1653, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  color: #b3b3b3;
  font-size: 30px;
  background: transparent !important;
  z-index: 1002;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 1662, ../sass/screen.scss */
.owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-carousel-carousel.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  color: #000;
}

/* line 1669, ../sass/screen.scss */
.gtco-more {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .05em;
}
/* line 1674, ../sass/screen.scss */
.gtco-more:hover {
  color: #000;
}

/* line 1682, ../sass/screen.scss */
.gto-features {
  border-top: 1px solid #e6e6e6;
}

/* line 1685, ../sass/screen.scss */
.feature-left {
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  /* line 1685, ../sass/screen.scss */
  .feature-left {
    margin-bottom: 20px;
  }
}
/* line 1690, ../sass/screen.scss */
.feature-left > .icon {
  float: left;
  font-size: 34px;
  color: #cccccc;
}
/* line 1695, ../sass/screen.scss */
.feature-left > .copy {
  padding-left: 30px;
}
/* line 1697, ../sass/screen.scss */
.feature-left > .copy h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
}
/* line 1703, ../sass/screen.scss */
.feature-left > .copy p {
  font-size: 14px !important;
  line-height: 26px;
}
/* line 1706, ../sass/screen.scss */
.feature-left > .copy p:last-child {
  margin-bottom: 0;
}
/* line 1711, ../sass/screen.scss */
.feature-left > .icon, .feature-left > .copy {
  display: table-cell;
}

/* line 1717, ../sass/screen.scss */
.gtco-services .feature-left {
  float: left;
  width: 100%;
  margin-bottom: 50px !important;
}
/* line 1721, ../sass/screen.scss */
.gtco-services .feature-left p {
  margin-bottom: 10px !important;
}

/* line 1727, ../sass/screen.scss */
.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* line 1733, ../sass/screen.scss */
.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 2.5em;
}

/* line 1737, ../sass/screen.scss */
.owl-carousel-fullwidth .item > a {
  display: block;
  position: relative;
  z-index: 10;
}
/* line 1741, ../sass/screen.scss */
.owl-carousel-fullwidth .item > a:after {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  -webkit-box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -177px 230px -121px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
  box-shadow: inset -27px -181px 151px -121px rgba(0, 0, 0, 0.75);
}
/* line 1757, ../sass/screen.scss */
.owl-carousel-fullwidth .item > a .slider-copy {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  z-index: 10;
}
/* line 1763, ../sass/screen.scss */
.owl-carousel-fullwidth .item > a .slider-copy h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
}

/* line 1770, ../sass/screen.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #cccccc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 1775, ../sass/screen.scss */
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

/* line 1779, ../sass/screen.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  background: #4d4d4d;
}
